@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

.container {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
}

.row {
  width: 100%;
  max-width: 400px;
  margin: 64px;
  padding: 24px;
  border: transparent;
  border-radius: 16px;
  background-color: white;
}




img {
  width: 100%;
  border: transparent;
  border-radius: 8px;
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: lighter;
}

.macros {
  display: flex;
  justify-content: space-between;
}

.prep-time {
  background-color: hsl(330, 100%, 98%);
  font-family: "Outfit", sans-serif;
  color: hsl(332, 51%, 32%);
  padding: 8px 24px;
  border: transparent;
  border-radius: 8px;
}

.prep-list {
  color: hsl(332, 51%, 32%);
}

.ingredient-header,
.instruction-header,
.nutrition-header {
  font-family: "Young Serif", sans-serif;
  color: hsl(14, 45%, 36%);
}

.ingredient-list,
.instruction-list,
.value {
  color: hsl(14, 45%, 36%);
  font-family: "Outfit", sans-serif;
}

.ingredient-text,
.instruction-text,
.nutrition-text,
.table {
  color: black;
  font-family: "Outfit", sans-serif;
}

.seperator {
  border-bottom: solid 1px lightgray;
}

.prep-text {
  color: black;
  font-family: "Outfit", sans-serif;
}
